@import "variables";
@import "dropzone";

/* general */
.bg_half_transparent {
  background: rgba($loader-bg-color, $loader-bg-transparency);
}
.wask_loader {
  padding: 150px 0;
  position: absolute;
  z-index: 501;
  border: 0;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.wask_loader > div.v-spinner > div {
  margin: 0 auto;
}
.permissions_container {
  padding: 10px;
  background: hsla(0,0%,100%,.1);
}

/* pre-defined */
.wask_td_action {
  min-width: 150px;
}

/* override */
#admin .snack {
  z-index: 500 !important;
  font-family:"Raleway";
}
.card {
  border-radius:1rem !important;
  border: 1px solid #e3e3e3 !important;
  box-shadow:none !important;
}
.dialog {
    border-radius:1rem !important;
}
.dialog .card {
  border: none !important;
}
.application {
  font-family: "Raleway" !important;
}
.headline {
  font-weight: 500 !important;
}
.menuable__content__active {
 z-index:250!important;
}
.no_border_radius {
  border-radius: initial !important;
  border: none !important;
}

// Transitions
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .1s;
}

.fade-enter-active {
  transition-delay: .1s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}